<!DOCTYPE html>
<html>
<head>
  <title>My Project Title</title>
  {% block css %}
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css"/>
  <!--[if IE]>
  <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <![endif]-->
  {% endblock %}

  {% block headerscripts %}
  {% endblock %}

  {% block components %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}

  {% block templates %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>